.home-geral
{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin:0 auto;

    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
}

.navegacao
{
    margin-top: 54px;
    display: flex;
}

.navegacao a
{
    display: flex;
    align-items: center;
    justify-items: center;

    margin-left: 46px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #13131A;

    padding: 8px;
    border-radius: 8px;

    transition: 0.2s;
}

.navegacao a svg
{
    margin-right: 8px;
    padding: 4px;
    border-radius: 4px;
    background-color: #13131A;
    color: #FF7D24;
}

.navegacao a:hover
{
    color: #FF7D24;
    background-color: #13131A;
}

body
{
    background-image: url("../../assets/FundoHome.jpg");
}